*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Navbar Section Styles */
/* ----------------------- */
nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style-type: none;
    margin-left: 40px;
}

nav li a{
    text-decoration: none;
}


/* Banenr Section Styles */
/* ----------------------- */
.banner{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.banner-title{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.banner-btn{
    margin-top: 10px;
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-weight: 600;
    border: 0;
}

.banner-image img{
    padding-top: 25px;
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 560px;
    background-position: 35% 70%;
}

/* Companies Section Styles */
/* --------------------------- */
main{
    padding-left: 200px;
    padding-right: 200px;
}

.companies-container{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

/* Collection Section Styles */
.collection-title{
    text-align: center;
    margin-bottom: 30px;

}

.collection-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 10px;
}

.collection-card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.card-content{
    text-align: left;
    padding-left: 25px;
    margin-top: 15px;
}

.checked{
    color: orange;
}

/* Feature Section Styles */
/* ------------------------- */
.feature-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.feature-title{
    font-size: 2.25rem;
    font-weight: 700;
}

.feature-description{
    font-weight: 600;
}

.join-btn{
    margin-top: 10px;
    padding: 10px 24px;
    border-radius: 5px;
    background: #E02C6D;
    color: #FFF;
    font-weight: 600;
    border: 0;
}

.footer-container{
    margin-top: 100px;
    text-align: center;
}

footer{

    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 100px;
    background: #0A0826;
    color: white;
}

.footer-title{
    font-size: 1.50rem;
    font-weight: 700;
}

footer i{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
}

/*
    -------------------------------------
    Responsive Design for Mobile Device
    --------------------------------------
*/
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }
    .nav-title{
        text-align: center;
    }

    nav > ul {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    nav li{
        margin-top: 5px;
        margin-left: 0px;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-image img{
        margin-bottom: 50px;
        width: 300px;
        background-image: none;

    }

    main{
        padding-left: 10px;
        padding-right: 10px;
    }

    .companies-container{
        flex-direction: column;
        gap: 20px;
    }

    .collection-container{
        text-align: center;
    }

    .collection-card-container{
        grid-template-columns: 1fr;
    }

    .collection-card img{
        width: 90%;
    }

    .feature-container{
        flex-direction: column-reverse;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature-container img{
        width: 100%;
    }
}


/*
    -------------------------------------
    Responsive Design for Medium Device
    --------------------------------------
*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 15px;
    }
    nav li{
        margin-left: 20px;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        margin-top: 50px;
    }
    
    main{
        padding:0px;
    }

    .companies-container{
        flex-direction: column;
        gap: 20px;
    }

    .collection-container{
        display: flex;
        justify-content: center;
    }
    .collection-card-container{
        grid-template-columns: 1fr;

    }

    .collection-card img{
        width: 90%;
    }

    .feature-container{
        flex-direction: column-reverse;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

}

